.title {
  text-align: center;
  font-family: 'Playball', cursive;
}

#questionDiv, #answer {
  border: 1px solid black;
}

.left-border {
  border: 1px solid red;

}

.right-border {
  border: 1px solid blue;

}


#questionDiv, #answer, .left-border, .right-border {
  height: 200px;
}

#start {
  text-align: center;
  vertical-align: center;
}

#showAnswerDiv {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

#pAnswerArea {
  width: 100%;
  height:30%;
  border: 1px solid black;
}
