body {
  background-color: #C4CED4;

}

.right-border-upper {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.right-border-lower {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#duckhunt {
  height: 100%;
  width: 100%;
}

button {
  background-color: #0C2C56;
  color: #C4CED4;
  font-family: 'Playball', cursive;
}

.right-border-upper, .right-border-lower div {
  font-family: 'Orbitron', sans-serif;
}

#myModalLabel {
  font-family: 'Playball', cursive;
}

div {
  font-family: sans-serif;
}

#next {
  display: none;
  padding: 5px 10px;
}

#start {
  text-align: center;
  padding: 5px 10px;
}

#reset {
  padding: 5px 10px;
}

#answerButtons {
  text-align: center;
}



.title {
  text-align: center;
  font-family: 'Playball', cursive;
}

#questionDiv, #answer {
  /*border: 1px solid black;*/
}

.left-border {
  /*border: 1px solid red;*/
  text-align: center;
}

.right-border-upper {
  /*border: 1px solid blue;*/
  text-align:center;
  font-family: 'Orbitron', sans-serif;
}


#questionDiv, #answer, .left-border, .right-border-upper, .right-border-lower {
  height: 200px;
  text-align: center;
}

#showAnswerDiv {
  width: 100%;
  height: 50%;
  /*border: 1px solid black;*/
  margin-top: 5px;
  text-align: center;
}

#pAnswerArea {
  width: 100%;
  height:30%;
  /*border: 1px solid black;*/
}

#answerA, #answerB, #answerC, #answerD, #player1btn, #player2btn {
  display: none;
  padding: auto;
}
